<template>
  <div class="w-100" style="height: auto">
    <nav class="navbar navbar-dark bg-custom">
      <button class="btn btn-danger" @click="returnMain()">Quay lại</button>
      <div class="h2 font-weight-light text-center">Kiểm tra văn bản</div>
      <div class="d-flex justify-content-evenly"></div>
    </nav>
    <div class="w-100 d-flex">
      <div style="width: 69%;">
        <div class="w-100 p-3">
          <h2 class="font-weight-light text-center">Văn bản</h2>
          <div class="w-100 p-3 rounded shadow" style="height: auto;">
             <textarea  rows="24" contenteditable v-model="text" class="text-area w-100" placeholder="Nhập hoặc sao chép văn bản..."></textarea>
          </div>
        </div>
      </div>
      <div style="width: 6%;">
        <button class="btn btn-success" @click="testDuplicate(text)">Kiểm tra</button>
      </div>
      <div class="" style="width: 25%;">
        <div class="w-100">
          <div class="bg-blue">
            <p v-if="showResult.percent == undefined ? true : false" class="h3 font-weight-light text-center p-3 text-white">TỔNG QUAN 0.00%</p>
            <p v-if="showResult.percent == undefined ? false : true" class="h3 font-weight-light text-center p-3 text-white">TỔNG QUAN {{getOverview.toFixed(2)}}%</p>
          </div>
          <div class="bg-white">
            <div v-for="(result,index) in showResult.duplicate" :key="index" class="d-flex p-2 border align-items-center justify-content-center">
              <h3 class="font-weight-light mr-3">{{index+1}}</h3>
              <span>{{result.name}}</span>
              <h3 class="font-weight-light ml-3">{{result.percent}}%</h3>
              <span class="p-3 m-2 rounded-circle bg-danger"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions,mapGetters } from "vuex";
export default {
  data() {
    return {
      text: null,
    };
  },
  head() {
    return {
      title: "Trang kiểm tra",
    };
  },
  components: {},
  computed: {
    ...mapGetters('test',['getterTestResult']),
  
    showResult(){
      return this.getterTestResult
    },
    getOverview(){
      return this.getterTestResult.percent
    }
  },
  methods: {
    ...mapActions('test',['getTestResult']),
    returnMain(){
      this.$router.push({path:'/main'})
    },
    testDuplicate(text){

      this.getTestResult({
        text : text,
        type : 'text'
      })
    }
  },
  mounted() {
  },
};
</script>

<style scope>
.user-icon {
  width: 14%;
}

.bg-custom {
  background: #cceaf6;
}
.bg-blue {
  background: #1a31b1;
}
.text-area{
  border: none;
  white-space: pre-wrap;
}
.text-area:focus{
  border: none;
  outline: none;
}
.text-area:empty:before {
    content: attr(data-placeholder);
}
</style>
