<template>
  <div class="main w-100 d-flex">
    <div class="h-full bg-white" style="width: 20%">
      <div class="w-100">
        <a href="http://www.tlu.edu.vn/" title="Truong Dai Hoc" target="_blank">
          <img class="logo" src="../../assets/img/logo.png" alt="Logo" />
        </a>
      </div>
      <div class="w-100 mt-5">
        <ul
          v-bind:class="{ 'bg-custom': main }"
          class="w-100 d-flex align-items-center p-3"
          @click="changePage('main')"
        >
          <img class="icon" src="../../assets/img/main.png" alt="account" />
          <li class="pl-3">Trang chính</li>
        </ul>
        <ul
          v-bind:class="{ 'bg-custom': account }"
          class="w-100 d-flex align-items-center p-3"
          @click="changePage('account')"
        >
          <img class="icon" src="../../assets/img/user.png" alt="account" />
          <li class="pl-3">Tài khoản</li>
        </ul>
        <ul
          class="w-100 d-flex align-items-center p-3"
          v-b-toggle.collapse-1
          variant="primary"
        >
          <img class="icon" src="../../assets/img/library.png" alt="subjects" />
          <li class="pl-3">Môn học</li>
        </ul>
        <b-collapse id="collapse-1" class="mt-2">
          <div v-for="subject in showSubject" :key="subject.id_sub">
            <b-card class="menu" @click="changePageSubject(subject)"
              ><span class="pl-3">{{ subject.name }}</span></b-card
            >
          </div>
        </b-collapse>

        <ul
          v-bind:class="{ 'bg-custom': calendar }"
          class="w-100 d-flex align-items-center p-3"
          @click="changePage('calendar')"
        >
          <img
            class="icon"
            src="../../assets/img/calendar.png"
            alt="calendar"
          />
          <li class="pl-3">Lịch</li>
        </ul>
        <ul
          v-bind:class="{ 'bg-custom': message }"
          class="w-100 d-flex align-items-center p-3"
          @click="changePage('message')"
        >
          <img
            class="icon"
            src="../../assets/img/speech-bubble.png"
            alt="message"
          />
          <li class="pl-3">Thông báo</li>
        </ul>
      </div>
      <div class="w-100" style="padding-top: 8.5rem">
        <div
          class="
            logout
            w-100
            p-3
            d-flex
            align-items-center
            justify-content-center
            text-white
          "
          @click="logOut"
        >
          <img class="icon" src="../../assets/img/arrow.png" alt="logout" />
          <span>Đăng xuất</span>
        </div>
      </div>
    </div>
    <!--Document--->
    <div
      v-if="currentPage == 'main' ? true : false"
      class="h-full"
      style="width: 80%"
    >
      <div
        class="w-100 d-flex align-items-center justify-content-between p-2"
        style="height: 10%"
      >
        <span></span>
        <div class="d-flex align-items-center justify-content-center">
          <img
            class="user-icon rounded-circle"
            src="https://yt3.ggpht.com/yti/ANoDKi6FFbZF3Rj4cKx6xjdgORk31ZP88vnFGIwe6uAncQ=s88-c-k-c0x00ffffff-no-rj-mo"
            alt=""
          />
          <span class="ml-2">{{ showInfor.name }}</span>
        </div>
      </div>
      <div class="w-100 p-3" style="height: 90%">
        <p>HOẠT ĐỘNG</p>
        <div class="w-100 shadow bg-body rounded bg-white" style="height: 65%">
          <div
            class="w-100 p-2 rounded shadow-sm"
            v-for="(exer, index) in exer"
            :key="index"
          >
            <p class="fw-bold">{{ exer.subName }}</p>
            <div class="w-100 d-flex justify-content-between">
              <p class="pl-2">
                {{ formatDate(exer.date) }} - Hạn chót
                {{ exer.subName.toLowerCase() }}
              </p>
            </div>
          </div>
        </div>
        <p class="pt-3">HOẠT ĐỘNG KHÁC</p>
        <div class="w-100 d-flex justify-content-around" style="height: 20%">
          <div
            class="shadow bg-success rounded"
            style="height: 100%; width: 20%"
          ></div>
          <div
            class="shadow bg-success rounded"
            style="height: 100%; width: 20%"
          ></div>
          <div
            class="shadow bg-success rounded"
            style="height: 100%; width: 20%"
          ></div>
          <div
            class="shadow bg-success rounded"
            style="height: 100%; width: 20%"
          ></div>
        </div>
      </div>
    </div>
    <!--Account--->
    <div
      v-if="currentPage == 'account' ? true : false"
      class="h-full"
      style="width: 80%"
    >
      <span class="p-3">THÔNG TIN TÀI KHOẢN</span>
      <div class="p-3 w-100 rounded" style="height: auto">
        <div class="p-3 w-100 rounded shadow bg-white" style="height: auto">
          <div class="row">
            <div class="col-2">
              <img
                class="w-100"
                src="../../assets/img/account.png"
                alt="User image"
              />
            </div>
            <div class="col-10">
              <p>Tên sinh viên: {{ showInfor.name }}</p>
              <p>MSSV: {{ showInfor.std_id }}</p>
              <p>Lớp: {{ showInfor.class }}</p>
              <p>Niên khoá: {{ showInfor.year }}</p>
            </div>
          </div>
        </div>
      </div>
      <span class="p-3">THÔNG TIN CÁ NHÂN</span>
      <div class="p-3 w-100 rounded" style="height: auto">
        <div class="p-3 w-100 rounded shadow bg-white" style="height: auto">
          <div>
            <div>
              <p>Họ tên đầy đủ: {{ showInfor.name }}</p>
              <p>Ngày sinh: {{ formatDate(showInfor.birthday) }}</p>
              <p>Giới tính: {{ showInfor.gender }}</p>
              <p>CMND: {{ showInfor.cmnd }}</p>
              <p>Địa chỉ: {{ showInfor.address }}</p>
              <p>Họ tên cha: {{ showInfor.dad_name }}</p>
              <p>Họ tên mẹ: {{ showInfor.mom_name }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Subject-->
    <div
      v-if="currentPage == 'subject' ? true : false"
      class="h-full"
      style="width: 80%"
    >
      <div
        class="w-100 d-flex align-items-center justify-content-between p-3"
        style="height: 10%"
      >
        <span>MÔN HỌC: {{ subjectName }}</span>
        <div class="d-flex align-items-center justify-content-center">
          <img
            class="user-icon rounded-circle"
            src="https://yt3.ggpht.com/yti/ANoDKi6FFbZF3Rj4cKx6xjdgORk31ZP88vnFGIwe6uAncQ=s88-c-k-c0x00ffffff-no-rj-mo"
            alt=""
          />
          <span class="ml-2">{{ showInfor.name }}</span>
        </div>
      </div>
      <div class="w-100" style="height: 20%">
        <div class="w-100 p-3 d-flex">
          <div
            v-bind:class="[document ? 'bg-blue' : 'bg-white']"
            class="
              sub-item
              w-50
              d-flex
              p-4
              m-3
              rounded
              align-items-center
              shadow
            "
            @click="changePageSubjects('document')"
          >
            <img
              class="icon"
              src="../../assets/img/document.png"
              alt="Documents"
            />
            <span class="pl-3">Tài liệu</span>
          </div>
          <div
            v-bind:class="[homework ? 'bg-blue' : 'bg-white']"
            class="
              sub-item
              w-50
              d-flex
              p-4
              m-3
              rounded
              align-items-center
              shadow
            "
            @click="changePageSubjects('homework')"
          >
            <img
              class="icon"
              src="../../assets/img/homework.png"
              alt="Documents"
            />
            <span class="pl-3">Bài tập</span>
          </div>
          <div
            @click="textPage()"
            class="
              sub-item
              w-50
              bg-white
              d-flex
              p-4
              m-3
              rounded
              align-items-center
              shadow
            "
          >
            <img
              class="icon"
              src="../../assets/img/spell-book.png"
              alt="Documents"
            />
            <span class="pl-3">Kiểm tra</span>
          </div>
        </div>
      </div>
      <!--Document-->
      <div
        v-if="subjectPage == 'document' ? true : false"
        class="w-100 p-4"
        style="height: 70%"
      >
        <div class="w-100 p-2 bg-white rounded shadow">
          <div
            class="w-100 p-2 rounded shadow-sm"
            v-for="(document, index) in getterLibrary"
            :key="index"
          >
            <p class="fw-bold">{{ document.name }}</p>
            <div class="w-100 d-flex justify-content-between">
              <p class="pl-2">Tác giả: {{ document.author }}</p>
              <a
                href="#"
                class="pr-5"
                @click="generatePDF(document.file, document.name)"
                >Xem thêm</a
              >
            </div>
          </div>
        </div>
      </div>
      <!--Homework-->
      <div
        v-if="subjectPage == 'homework' ? true : false"
        class="w-100 p-4"
        style="height: 70%"
      >
        <div
          v-for="(exer, index) in getterExer"
          :key="index"
          class="w-100 p-2 bg-white rounded shadow"
        >
          <div
            class="w-100 p-2 rounded shadow-sm"
            v-if="
              (exer.done == null && compareDay(formatDate(exer.date)) <= 0) ||
              (exer.done == 1 && compareDay(formatDate(exer.date)) >= 0) ||
              (exer.done == 0 && compareDay(formatDate(exer.date)) <= 0) ||
              (exer.done == null && compareDay(formatDate(exer.date)) >= 0) ||
              (exer.done == 0 && compareDay(formatDate(exer.date)) >= 0)
                ? true
                : false
            "
          >
            <div class="w-100" style="height: 100%">
              <p class="fw-bold">{{ exer.name }}</p>
              <div class="w-100 d-flex justify-content-between">
                <p class="pl-2">
                  {{ exer.content }}
                  <span class="font-italic">
                    - {{ deadline(compareDay(formatDate(exer.date))) }}</span
                  >
                </p>
                <p
                  v-if="overViewSubmit(exer) == 'Trùng %' ? false : true"
                  class="text-danger"
                >
                  {{ overViewSubmit(exer) }}
                </p>
                <input
                  type="file"
                  :v-model="file"
                  id="file"
                  accept=".txt,application/msword,"
                  hidden
                  @change="previewFiles"
                />
                <label
                  v-if="compareDay(formatDate(exer.date)) < 0 ? true : false"
                  class="btn text-white btn-danger"
                  for="file"
                  @click="setId(exer)"
                  >Nộp muộn</label
                >
                <label
                  v-if="
                    (compareDay(formatDate(exer.date)) >= 0 &&
                      exer.done == 0) ||
                    (compareDay(formatDate(exer.date)) >= 0 &&
                      exer.done == null)
                      ? true
                      : false
                  "
                  class="btn text-white bg-blue"
                  for="file"
                  @click="setId(exer)"
                  >Nộp bài</label
                >
                <label
                  v-if="exer.done == 1 ? true : false"
                  class="btn text-white bg-blue"
                  for="file"
                  @click="updateExer(exer)"
                  >Nộp lại</label
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  data() {
    return {
      file: null,
      currentPage: "main",
      subjectPage: "document",
      document: true,
      homework: false,
      account: false,
      subject: false,
      calendar: false,
      main: true,
      message: false,
      exer: null,
      dataSubject: null,
      subjectName: null,
    };
  },
  head() {
    return {
      title: "Trang hoạt động",
    };
  },
  components: {},
  computed: {
    ...mapGetters("user", ["getterUserInfor"]),
    ...mapGetters("subject", ["getterSubjects", "getterSubject"]),
    ...mapGetters("exer", ["getterAllExer", "getterExer"]),
    ...mapGetters("library", ["getterLibrary"]),
    ...mapGetters("test", ["getterTestResult"]),
    showSubject() {
      return this.getterSubjects;
    },
    showInfor() {
      return this.getterUserInfor;
    },
    showExer() {
      return this.getterAllExer;
    },
  },
  methods: {
    ...mapActions("user", ["getUserInfor"]),
    ...mapActions("subject", ["getAllSubjects", "getSubjects"]),
    ...mapActions("exer", ["getAllExer", "getExer"]),
    ...mapActions("library", ["getLibrary"]),
    ...mapActions("test", ["getTestResult"]),
    changePage(name) {
      this.currentPage = name;
      switch (name) {
        case "account":
          this.account = true;
          this.main = false;
          this.calendar = false;
          this.message = false;
          this.subject = false;
          break;
        case "calendar":
          this.calendar = true;
          this.account = false;
          this.main = false;
          this.message = false;
          this.subject = false;
          break;
        case "main":
          this.main = true;
          this.account = false;
          this.calendar = false;
          this.message = false;
          this.subject = false;
          break;
        case "subject":
          this.main = false;
          this.account = false;
          this.calendar = false;
          this.message = false;
          this.subject = false;
          break;
        case "message":
          this.message = true;
          this.account = false;
          this.calendar = false;
          this.main = false;
          this.subject = false;
          break;
        default:
          break;
      }
    },
    async changePageSubject(data) {
      this.currentPage = "subject";
      this.subjectPage = "document";
      this.document = true;
      this.homework = false;
      await this.getLibrary(data.subject_code);
      this.subjectName = data.name;
      const list = await this.getExer(data.id_sub);
    },
    changePageSubjects(page) {
      this.subjectPage = page;
      if (this.subjectPage == "document") {
        this.homework = false;
        this.document = true;
      }

      if (this.subjectPage == "homework") {
        this.document = false;
        this.homework = true;
      }
    },
    logOut() {
      this.$router.push({ path: "/" });
      localStorage.setItem("isLogged", false);
    },
    textPage() {
      this.$router.push({ path: "/test" });
    },
    handleLogin() {
      const logged = localStorage.getItem("isLogged");
      if (logged == "true") {
        return;
      }
      if (logged == "false") {
        alert("Bạn chưa đăng nhập");
        this.$router.push({ path: "/" });
      }
    },
    formatDate(str) {
      const date = new Date(str),
        mnth = ("0" + (date.getMonth() + 1)).slice(-2),
        day = ("0" + date.getDate()).slice(-2);
      return [day, mnth, date.getFullYear()].join("-");
    },
    generatePDF(text, name) {},
    async getSubject() {
      await this.getAllExer();
      const listSub = [...this.getterAllExer];
      let list = [];
      for (let index = 0; index < listSub.length; index++) {
        let data = { ...listSub[index] };
        await this.getSubjects(data.id_sub);
        const name = this.getterSubject.name;
        data.subName = name;
        list.push(data);
      }
      return (this.exer = list);
    },
    compareDay(day) {
      let dateSplit = day.split("-");
      let newDate = dateSplit[1] + "-" + dateSplit[0] + "-" + dateSplit[2];
      let deadline = new Date(newDate);
      let today = new Date();
      let dd = today.getDate();
      let mm = today.getMonth() + 1;
      let yyyy = today.getFullYear();
      if (dd < 10) {
        dd = "0" + dd;
      }
      if (mm < 10) {
        mm = "0" + mm;
      }
      today = mm + "-" + dd + "-" + yyyy;
      let date = new Date(today);
      let subtract = deadline.getTime() - date.getTime();
      let result = subtract / (1000 * 3600 * 24);
      return result;
    },
    deadline(num) {
      if (num == 0) {
        return "Hết hạn hôm nay";
      } else if (num < 0) {
        return "Quá hạn " + Math.abs(num) + " ngày";
      } else {
        return "Còn " + num + " ngày";
      }
    },
    async previewFiles(event) {
      if (event.target.files[0] != undefined) {
        const text = event.target.files[0].text().then(async (result) => {
          await this.getTestResult({
            text: result,
            type: "file",
            id_sub: localStorage.getItem("id_sub"),
            id_ex: localStorage.getItem("id_ex"),
            id_sv: localStorage.getItem("std_id"),
            update: localStorage.getItem("update", 0),
          });
        });
      }
    },
    overViewSubmit(exer) {
      let idEx = localStorage.getItem("id_ex");
      if (exer.id_ex == idEx) {
        let percent = "";
        this.file = null;
        percent = this.getterTestResult.percent;
        if (
          percent == 0 ||
          percent == "0" ||
          percent == "" ||
          percent == null
        ) {
          return "";
        } else {
          return "Trùng " + Math.round(percent) + "%";
        }
      }
    },
    setId(exer) {
      localStorage.setItem("id_sub", exer.id_sub);
      localStorage.setItem("id_ex", exer.id_ex);
      localStorage.setItem("update", 0);
    },
    updateExer(exer) {
      localStorage.setItem("id_sub", exer.id_sub);
      localStorage.setItem("id_ex", exer.id_ex);
      localStorage.setItem("update", 1);
    },
  },
  mounted() {
    this.handleLogin();
    this.getUserInfor();
    this.getAllExer();
    this.getAllSubjects();
    this.getSubject();
  },
};
</script>

<style scoped>
.fw-bold {
  font-weight: bold;
}
.main {
  height: 100%;
  padding: 0%;
  background: #cceaf6;
}
.bg-custom {
  background: #cceaf6;
}
.bg-blue {
  background: #1a31b1;
  color: #fff;
}
.h-full {
  height: 100vh;
}
.logo {
  width: 40%;
  padding-top: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}
.icon {
  width: 13%;
}
.user-icon {
  width: 14%;
}

.menu {
  cursor: pointer;
}
.menu:hover {
  background: #cceaf6;
  -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.5);
}
ul {
  list-style: none;
  cursor: pointer;
}
ul:hover {
  background: #cceaf6;
  -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.5);
}
li {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
}
.logout {
  background: #1a31b1;
  cursor: pointer;
}
.sub-item {
  cursor: pointer;
}
.sub-item:hover {
  color: #fff;
  background: #1a31b1 !important;
}
</style>