<template>
  <!--Trang đăng nhập-->
  <div class="login">
    <div class="login__logo">
      <a href="http://www.tlu.edu.vn/" title="Truong Dai Hoc" target="_blank">
        <img
          src="../assets/img/logo.png"
          alt=""
          style="width: 200px; margin: 20px 50px"
        />
      </a>
    </div>
    <div class="login-container">
      <div class="form-group">
        <div class="form_login">
          <h1 class="title">Đăng nhập</h1>
          <div class="input-group">
            <input
              v-model="login.std_id"
              type="text"
              class="user"
              placeholder="Mã sinh viên..."
            />
            <input
              v-model="login.password"
              type="password"
              placeholder="Mật khẩu..."
            />
            <p class="text-danger">{{ message }}</p>
          </div>
          <div class="btn-group">
            <button class="btn__login" @click="handleLogin()">Đăng nhập</button>
            <button class="btn__forget-password">Quên mật khẩu</button>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {
      login: {
        std_id: null,
        password: null,
      },
      message: null,
    };
  },
  head() {
    return {
      title: "Trang đăng nhập",
    };
  },
  computed: {
    ...mapGetters("login", ["getterLoginMessage"]),
    async showMessage() {
      this.message = await this.getterLoginMessage
      if (this.message.message == "LOGIN SUCCESS") {
        localStorage.setItem("std_id", this.login.std_id);
        localStorage.setItem("isLogged", true);
        this.$router.push({ path: "/main" });
      }
      if (this.message.message == "LOGIN FAILED") {
        this.message = "Tài khoản hoặc mật khẩu không chính xác";
        return this.message;
      }
      return this.message;
    },
  },
  methods: {
    ...mapActions("login", ["getLoginMessage"]),
    async handleLogin() {
      if (this.login.std_id == null) {
        this.message = "Nhập mã số sinh viên hoặc mật khẩu";
      } else{
        await this.getLoginMessage(this.login);
        this.showMessage;
      }
    },
  },
  mounted() {},
};
</script>

<style scope>
.login {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-group {
  background: #fff;
  position: absolute;
  right: 6%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  border-radius: 12px;
  perspective: 1000px;
}

.title {
  font-size: 50px;
  color: #000000;
  margin: 60px 0;
}

.input-group {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="password"] {
  width: 400px;
  padding: 10px;
  border: none;
  background: #f2f2f2;
  border-radius: 5px;
  font-weight: 500;
  margin: 0 25px 25px 25px;
  outline-color: rgb(107, 234, 243);
}

.btn-group {
  display: flex;
  justify-content: space-between;
  margin: 80px 25px;
}

.btn-group > button {
  border-radius: 4px;
  min-width: 155px;
  height: 45px;
  font-weight: 500;
  color: #fff;
  border: none;
}

.btn-group > button:hover {
  opacity: 0.8;
}

.btn__login {
  background: #000;
}

.btn__forget-password {
  background: #282d97;
}
</style>
